DATABASE_URL="postgresql://weikong:weikong123@localhost:5432/weikong_iot?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=weikong_iot_secret
JWT_EXPIRES_IN=7d
PORT=3100
TIMESCALE_DATABASE_URL="postgresql://weikong:weikong123@localhost:5433/weikong_ts"
